.landing{
	background-image: url("assets/landing-bg-lg.png");
	background-size: cover;
	display: flex;
	justify-content:center;
	align-items: center;
}

.landing__logo{
	margin-top: 5%;
	z-index: 2;
}

.landing__line{
	border-bottom: solid 3px #545863;
	width: 100vw;
	margin-top: -120px;
	z-index: 1;
}

.landing__container{
	text-align: center;
	margin:  5% auto;
	margin-left: 3%;
	width: 550px;

}
.landing__paragraph{
	display: inline;

}
.landing__title{
	margin: 5% auto;
}

.landing__text{
	font-family: 'Caveat', cursive;
	font-size: x-large;
	color:#545863;
}

.landing__button {
	border-radius: 20px;
	border: 1px solid #fcdc12;
	background-color: #fcdc12;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.landing__content{
	margin-top: 10% ;
	display: flex;
}
.landing__content__article{
	align-items: center;
}
.landing__content__title{
	font-family: 'Caveat', cursive;
	font-size: xx-large;
	color:#545863;
}

.landing__content__text{
	font-family: 'Roboto';
	font-size: large;
	color:#545863;
}

.landing__content__button{
	border-radius: 20px;
	border: 1px solid #fcdc12;
	background-color: #fcdc12;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-left: 20%;
}
.landing__content__image{
	width: 400px;
	border-radius: 20px;
}