footer {
    background-image: url("../../assets/footer-img.png");
    background-size: 100%;
    width: 100vw;
    margin-top: 5%;
    font-family: "Roboto";
}

.footer__column{
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 20px;
}

.footer__end{
    text-align: center;
    bottom: 0;
}