* {
  box-sizing: border-box;
}

.profilPicture {
  border-radius: 50%;
  border: 2px solid black;
  width: 30%;
  height: 30%;
}

.userBody{
  background-image: url("../../assets/BG_crevette.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
#containerLvl span {
  color: #000000;
  font-family: sans-serif;
  font-size: 1em;
}

