* {
  box-sizing: border-box;
}

.AuthForm{
  background-image: url("../../../public/assets/BG_banana.png");
  background-size: cover;
}
.AuthForm .body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.AuthForm h1 {
  font-weight: bold;
  margin: 0;
}

.AuthForm h2 {
  text-align: center;
}

.AuthForm p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.AuthForm span {
  font-size: 12px;
}

.AuthForm a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.AuthForm button {
  border-radius: 20px;
  border: 1px solid #fcdc12;
  background-color: #fcdc12;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.AuthForm button:active {
  transform: scale(0.95);
}

.AuthForm button:focus {
  outline: none;
}

.AuthForm button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.AuthForm form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AuthForm input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.AuthForm .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin-bottom: 20px;
}
.logoForm {
  margin: 0 auto;
}

.AuthForm .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.AuthForm .password-error {
  color: red;
  font-size: 8px;
}

.AuthForm .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.AuthForm .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.AuthForm .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.AuthForm .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.AuthForm .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.AuthForm .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.AuthForm .overlay {
  background: #fcdc12;
  background: -webkit-linear-gradient(to right, #fcdc12, #fcdc12);
  background: linear-gradient(to right, #fcdc12, #fcdc12);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.AuthForm .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.AuthForm .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.AuthForm .overlay-left {
  transform: translateX(-20%);
}

.AuthForm .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.AuthForm .overlay-right {
  right: 0;
  transform: translateX(0);
}

.AuthForm .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.AuthForm .social-container {
  margin: 20px 0;
}

.AuthForm .social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.AuthForm footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.AuthForm footer p {
  margin: 10px 0;
}

.AuthForm footer i {
  color: red;
}

.AuthForm footer a {
  color: #3c97bf;
  text-decoration: none;
}
