.SecondForm { 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-image: url("../../../assets/bg_template.png");
    background-size: cover;
  }

  .SecondForm__body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .SecondForm__container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    width: 70%;
    min-height: 120vh;
    margin: 50px 0 20px 0;
  }
  
  .SecondForm__title-container {
    background: #27c7d4;
    position: absolute;
    height: 100%;
    z-index: 2;
    color: #ffffff;
  }

  .SecondForm__form-container {
    position: absolute;
    padding: 0 40px;
    left:25%;
    min-height: fit-content;
  }
  /* the original button */
  .SecondForm__button {
    border-radius: 20px;
    border: 1px solid #27c7d4;
    background-color: #27c7d4;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  /* here some code to make the original button modifief in color and add animation */
  .SecondForm__button__success {
  border-radius: 20px;
  border: 1px solid #27c7d4;
  background-color: #27c7d4;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}
  .SecondForm__button__success.active {
    border: 1px solid #399b00;
    background-color: #399b00;
    animation: flash 0.5s linear;
}
  .SecondForm__button:active {
    transform: scale(0.95);
    animation: flash-revert 0.5s linear;}
  /* La classe ajoutée pour l'animation de retour */
  .SecondForm__button.flash-revert {
    animation: flash-revert 0.5s linear;
  }
  @keyframes flash {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  /* L'animation de retour */
  @keyframes flash-revert {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .SecondForm__button:focus {
    outline: none;
  }
  
  .SecondForm__form {
    color: #545863;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  .SecondForm__input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .SecondForm__textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }